<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-7 footer-contact" >
          <h3>FEEDBACK</h3>
          <p>
            Medea <br>
            Medea<br>
            Algeria <br><br>
            <strong>Phone:</strong> +213 770979284<br>
            <strong>Email:</strong> a.boukhalkhel@esi-sba.dz<br>
          </p>
        </div>

        <div class="col-lg-4 col-md-7 footer-links"  >
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/home#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/home#feedback">Feedbacks</a></li>
          </ul>
        </div>


        <div class="col-lg-3 col-md-7 footer-links"  >
          <h4>Our Social Networks</h4>
          <p>To Addition Information contact us</p>
          <div class="social-links mt-3">
            <a href="https://www.facebook.com/aymenxyzbkl" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.linkedin.com/in/aymen-boukhelkhal-37b44816b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>XYZAPP</span></strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->
