
<div fxFlex
      fxLayout="column">

<div fxFlex fxFlexOffset="20px" class="form-size" >
  <mat-card class="card-container">
    <mat-card-header class="text-container">
      <p class="text-container">
        USERS FEEDBACKS
      </p>
      </mat-card-header>
<mat-list >
  <mat-list-item  *ngFor="let feedback of feedbacks" [style.height]="'150px'" appFeedbackhighlight [@expand]>
    <div fxFlex fxFlexOffset="20px" class="basic-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{feedback.firstName | uppercase}} {{feedback.lastName | uppercase}} </mat-card-title>
        <mat-card-subtitle>{{feedback.rating | number }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{feedback.feedbackMessage}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  </mat-list-item>
</mat-list>
</mat-card>

</div>
<div fxFlex fxFlexOffset="20px" class="form-size">
<form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()"  >
  <p>
    <mat-form-field class="half-width">
      <input matInput formControlName="firstName" placeholder="First Name" type="text" required>
      <mat-error *ngIf="formErrors.firstName">
        {{formErrors.firstName}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput formControlName="lastName" placeholder="Last Name" type="text" required>
      <mat-error *ngIf="formErrors.lastName">
        {{formErrors.lastName}}
      </mat-error>
    </mat-form-field>
  </p>
  <p>

    <mat-form-field class="half-width">
      <input matInput formControlName="email" placeholder="Email" type="email" email required>
      <mat-error *ngIf="formErrors.email">
        {{formErrors.email}}
      </mat-error>
    </mat-form-field>
  </p>

  <table class="form-size">
    <td>
      <mat-slider thumbLabel formControlName="rating" tickInterval="5" min="1" max="5"></mat-slider>
    </td>
  </table>

  <p>
    <mat-form-field class="full-width">
      <textarea matInput formControlName="feedbackMessage" placeholder="Leave us us a Message" rows=12></textarea>
    </mat-form-field>
    <mat-error *ngIf="formErrors.feedbackMessage">
      {{formErrors.feedbackMessage}}
    </mat-error>
  </p>
  <div *ngIf="onProgress=='Normal'">
  <button type="submit" mat-button class="background-primary text-floral-white"
  [disabled]="feedbackForm.invalid">
  Submit
</button>
</div>
<div *ngIf="onProgress=='Posting'">
    <mat-spinner></mat-spinner>
    <h4>Posting .... Please wait !</h4>
</div>

</form>

</div>
</div>
