
<div fxFlex fxFlexOffset="20px" class="form-size">
<form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()"  >
  <p>
    <mat-form-field class="half-width">
      <input matInput formControlName="firstName" placeholder="First Name" type="text" required>
      <mat-error *ngIf="formErrors.firstName">
        {{formErrors.firstName}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput formControlName="lastName" placeholder="Last Name" type="text" required>
      <mat-error *ngIf="formErrors.lastName">
        {{formErrors.lastName}}
      </mat-error>
    </mat-form-field>
  </p>
  <p>

    <mat-form-field class="half-width">
      <input matInput formControlName="email" placeholder="Email" type="email" email required>
      <mat-error *ngIf="formErrors.email">
        {{formErrors.email}}
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="full-width">
      <textarea matInput formControlName="feedbackMessage" placeholder="Leave us us a Message" rows=12></textarea>
    </mat-form-field>
    <mat-error *ngIf="formErrors.feedbackMessage">
      {{formErrors.feedbackMessage}}
    </mat-error>
  </p>
  <button type="submit" mat-button class="background-primary text-floral-white"
  [disabled]="feedbackForm.invalid">
  Submit
</button>
</form>

</div>>
