<mat-toolbar>
  <span>XYZAPP</span>
  <span class="example-spacer"></span>
  <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" href='/home#hero'>
    <mat-icon>home</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" href='/home#feedback'>
    <mat-icon>feedback</mat-icon>
  </a>
</mat-toolbar>
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" >
        <div>
          <h1>FEEDBACKAPPLICATION</h1>
          <h2>A simple Application that allow you to submit feedbacks and view others feedbacks</h2>
          <a href="/home#feedback" class="download-btn"><i class="bx bx-bullseye"></i> View feed back</a>
          <a href="/home#submitfeedback" class="download-btn"><i class="bx bxs-contact"></i> Post FeedBack</a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" >
        <img src="assets/Images/feedback.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

